body {
  font-family: Staatliches, sans-serif;
  background-color: grey;
}
#textBox {
  background-color: white;
  position: absolute;
  right: 0px;
  top: 25px;
  /*width: 600px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  clip-path: polygon(0% 0%, 40px 100%, 100% 100%, 100% 0%);
}
.text {
  overflow: hidden;
  font-size: 45px;
  letter-spacing: 7px;
}
.countdown {
  background: #485696;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 350px;

  clip-path: polygon(0% 0%, 40px 100%, 100% 100%, 100% 0%);
}
#label {
  padding-left: 45px;
}
#D {
  padding-right: 20px;
}
